

.masthead{ 
 position: absolute;

 left: 0;
 width: 250vh;
 min-height: 190vh;
 background-image: url(./images/backgroundimg.jpg);
 background-repeat: no-repeat;
 background-size:cover ;
 z-index: -1;
 filter: blur(5px);
 }
 
 

.image1{
    background-image: url(./images/categoryimg.jpg);
    background-size: cover;
    background-position: center;
}
.image2{
    background-image: url(./images/categoryimg2.jpg);
    background-size: cover;
    background-position: center;
}
.image3{
    background-image: url(./images/categoryimg3.jpg);
    background-size: cover;
    background-position: center;
}
.image4{
    background-image: url(./images/categoryimg4.jpg);
    background-size: cover;
    background-position: center;
}
